.header {
    /* background color */
    background-color:#434d54; 
    /* font color */
    color:#ffffff;
    /* text centered */
    text-align: center;

    /* width streched */
    width:100%;

}